@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --page-color: #070606;
  --pop-color: #2B892E;
  --primary-text: #989898;
  --secondary-text: #e5e5e5;
}

@layer components{
  .eheader{
    @apply text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-extrabold text-black my-1 md:my-3 text-center uppercase;
  }

}

body{
  background-color: var(--page-color);
  color: var(--text-color);
}